.nav-bg{
    background-image: linear-gradient(to bottom right, rgb(3, 17, 65), rgb(0, 60, 255));
    color: white;
}
.wid{
    width: 7rem;
}

.home-section{
    height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(3, 17, 65), rgb(0, 60, 255));
}
/* about */


.abt-section{
    height: auto;
    padding-bottom: 5rem;
    background-color:#001435;
}

.cards{
    background-color: white;
    text-align: center;
    padding: 1rem;
    border-radius: 2rem;
    width: 15rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    
    
}
.bcards{
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    width: 15rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    margin-top: 1rem;
    
}
.card-head{
    font-weight: 900;
}

/* services */

.services-section{
    background-color:#001435;
}

.ser-cont{
    font-size: 2rem;
}

.stra-title{
    width: 3rem;
    margin-top: 8rem;
}

.stra-card{
    background-color: #050b14;
    width: 15rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 8rem;
}
.stra-card-2{
    background-color: #050b14;
    width: 20rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1rem;
   
}
.stra-card-3{
    background-color: white;
    width: 20rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1rem;
   
}
.stra-card-4{
    background-color: white;
    width: 15rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1rem;
   
}
.stra-card-5{
    background-color: white;
    width: 20rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1rem;
   
}
.stra-card-6{
    background-color: #050b14;
    width: 15rem;
    padding: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
    border-radius: 20px;
    margin-top: 1rem;
   
}
.small-font{
    font-size: 10px;
}


.cor-title{
    color:white;
    font-size:2rem;
    margin-top: 5rem;
}
.points{
    margin-top: 12rem;
}

.money{
    margin-top: 20rem;

}

.large-font{
    font-size: 2rem;
}

.union{
    margin-top: 10rem;
}


/* process */
.process{
    background-color: #001435;
}


/* test */
*{
    margin: 0%;
    padding: 0%;
}
.test{
    background-color: #001435;

}
.tests{
    color: white;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.subcard-1{
    width: 12rem;
    height: 15rem;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 1rem 5rem;
    border-radius: 2rem;
}
.subcard-2{
    width: 12rem;
    height: 15rem;
    background-color: white;
    color: black;
    padding: 1rem;
    margin: 5rem 5rem;
    border-radius: 2rem;
}

.title{
    margin: 2rem 0rem;
}


.hex-1{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    margin-left: 76%;
}
.hex-2{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    margin-left: -37%;
}
.hex-3{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    margin-left: 100%;
    margin-top: -30%;
    }

.hex-4{
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    transform: rotate(90deg);
    width: 6rem;
    height: 6rem;
    background-color: aqua;
    margin-left: -55%;
    margin-top: -30%;

}

.pencil{
    margin-top: 25%;
    margin-left: 30%;
    transform: rotate(-90deg);
}
.pencil-1{
    margin-top: 20%;
    margin-left: 20%;
    transform: rotate(-90deg);
}

/* programs */

.programs{
    background-color: #001435;
    
}

.prog-title{
    font-size: 2rem;
}

.pcard-1{
   background-color: black;
    width: 100%;
    padding: 2rem;
    height: 20rem;
    border-radius: 2rem;
}
.card1-square{
    width: 4rem;
    height:3rem;
    background-color: white;
    margin-bottom: 70%;
}
.card2-square{
    width: 4rem;
    height:3rem;
    background-color: rgb(82, 80, 80);
    margin-bottom: 10%;
}
.pcard-2{
    background-color: white;
     width: 100%;
     padding: 2rem;
     height: 10rem;
     border-radius: 2rem;
     margin-top: 8rem;
 }
.pcard-3{
    background-color: white;
     width: 100%;
     padding: 2rem;
     height: 10rem;
     border-radius: 2rem;
     margin-top: 1rem;
 }

 .pcard-5{
    background-color: black;
     width: 80%;
     padding: 2rem;
     height: 20rem;
     border-radius: 2rem;
     margin-left: 50%;
     transform: translateX(-50%);
 }

 .pcard-6{
    background-color: white;
     width: 100%;
     padding: 2rem;
     height: 10rem;
     border-radius: 2rem;
     margin-top: 9rem;
 }

.contact{
    background-color: #001435;
    padding-top: 3rem;
    padding-bottom:2rem ;
    
}

.contact-card{
    background-color: #050b14;
    border-radius: 2rem;
}

.left-cont{
    padding: 3rem;
}

.in-1{
    background-color: black;
    border: none;
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    margin-top: 1rem ;
    border: 0.1px solid white;
}
.in-2{
    background-color: black;
    border: none;
    padding: 5px;
    margin-left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 5rem;
    margin-top: 1rem ;
    
    border: 0.1px solid white;
}

.btn-submit{
    padding: 0rem 2rem;
    margin: 15px 0px;
    border-radius: 2rem;
    margin-left: 50%;
    transform: translateX(-50%);
}

.footer{
    background-color: black;
    color: white;
    text-transform: capitalize;
    padding: 1rem;
    font-size: 10px;

}

.icons{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    
}